{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

{% include 'includes/home_header.html' %}

<!-- Start of Main -->
<main class="main order">
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb shop-breadcrumb bb-no">
                <li class="passed"><a href="{% url 'cart:detail' %}">{% trans "Xarid savatchasi" %}</a></li>
                <li class="passed"><a href="#">{% trans "Buyurtmani rasmiylashtirish" %}</a></li>
                <li class="active"><a href="#">{% trans "Buyurtma rasmiylashtirildi" %}</a></li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of PageContent -->
    <div class="page-content mb-10 pb-2">
        <div class="container">
            <div class="order-success text-center font-weight-bolder text-dark">
                <i class="fas fa-check"></i>
                {% trans "Rahmat ! Sizning buyurtmangiz qabul qilindi, biz siz bilan tez orada bog'lanamiz" %}
            </div>
            <!-- End of Order Success -->

            <a href="{% url 'products:list' %}" class="btn btn-dark btn-rounded btn-icon-left btn-back mt-6"><i class="w-icon-long-arrow-left"></i>{% trans "Xarid qilishda davom eting" %}</a>
        </div>
    </div>
    <!-- End of PageContent -->
</main>
<!-- End of Main -->

{% endblock content %}
