{% extends 'base.html' %}

{% load static i18n thumbnail %}

{% block content %}

{% include 'includes/home_header.html' %}

<!-- Start of Main -->
<main class="main">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">{% trans "Yangiliklar" %}</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-6">
        <div class="container mt-2 mb-2">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Bosh sahifa" %}</a></li>
                <li><a href="#">{% trans "Yangiliklar" %}</a></li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of Page Content -->
    <div class="page-content">
        <div class="container">
            <div class="row gutter-lg mb-10">
                <div class="main-content">
                    {% for item in object_list %}
                    <article class="post post-classic overlay-zoom mb-4">
                        <figure class="post-media br-sm">
                            <a href="{{ item.get_absolute_url }}">
                                {% thumbnail item.image "930x500" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}"
                                    height="{{ im.height }}" alt="{{ item.title }}">
                                {% endthumbnail %}
                            </a>
                        </figure>

                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            </div>
                            <h4 class="post-title">
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            </h4>
                            <div class="post-content">
                                <p>{{ item.body|truncatewords_html:100 }}</p>
                                <a href="{{ item.get_absolute_url }}" class="btn btn-link btn-primary">{% trans "Batafsil" %}</a>
                            </div>
                            <div class="post-meta">
                                {% comment %} by <a href="#" class="post-author">John Doe</a> {% endcomment %}
                                - <a href="#" class="post-date">{{ item.created }}</a>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                    {% include 'products/_includes/pagination.html' %}
                </div>
                
                {% include 'blog/sidebar.html' %}

            </div>
        </div>
    </div>
    <!-- End of Page Content -->
</main>
<!-- End of Main -->

{% endblock content %}
