{% load static i18n thumbnail %}
<aside class="sidebar right-sidebar blog-sidebar sidebar-fixed sticky-sidebar-wrapper">
    <div class="sidebar-overlay">
        <a href="#" class="sidebar-close">
            <i class="close-icon"></i>
        </a>
    </div>
    <a href="#" class="sidebar-toggle">
        <i class="fas fa-chevron-left"></i>
    </a>
    <div class="sidebar-content">
        <div class="sticky-sidebar">
            <div class="widget widget-search-form">
                <div class="widget-body">
                    <form action="{% url 'blog:list' %}" method="GET" class="input-wrapper input-wrapper-inline">
                        <input type="text" name="q" class="form-control" value="{{ request.GET.q }}"
                            placeholder="{% trans "Postlardan qidirish" %}" autocomplete="off">
                        <button class="btn btn-search"><i
                                class="w-icon-search"></i></button>
                    </form>
                </div>
            </div>
            <!-- End of Widget search form -->
            <div class="widget widget-categories">
                <h3 class="widget-title bb-no mb-0">{% trans "Kategoriyalar" %}</h3>
                <ul class="widget-body filter-items search-ul">
                    <li><a href="{% url 'blog:list' %}?discount=1">{% trans "Chegirmalar" %}</a></li>
                    <li><a href="{% url 'blog:list' %}?new=1">{% trans "Yangiliklar" %}</a></li>
                </ul>
            </div>
            <!-- End of Widget categories -->
            <div class="widget widget-posts">
                {% if news %}
                <h3 class="widget-title bb-no">{% trans "Yangi postlar" %}</h3>
                {% endif %}
                <div class="widget-body">
                    <div class="swiper">
                        <div class="swiper-container swiper-theme nav-top" data-swiper-options="{
                            'spaceBetween': 20,
                            'slidesPerView': 1
                        }">
                            <div class="swiper-wrapper row cols-1">
                                <div class="swiper-slide widget-col">
                                    {% for item in news %}
                                    <div class="post-widget mb-4">
                                        {% thumbnail item.image '150x150' as im %}
                                        <figure class="post-media br-sm">
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ item.title }}"/>
                                        </figure>
                                        {% endthumbnail %}
                                        <div class="post-details">
                                            <div class="post-meta">
                                                <a href="#" class="post-date">{{ item.modified }}</a>
                                            </div>
                                            <h4 class="post-title">
                                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                            </h4>
                                        </div>
                                    </div>
                                    {% if forloop.coutner == 3 %}
                                    </div>
                                    <div class="swiper-slide widget-col">
                                    {% endif %}
                                    <!-- invisible content -->
                                    </div>
                                    {% endfor %}
                            </div>
                            <button class="swiper-button-next"></button>
                            <button class="swiper-button-prev"></button>
                        </div>
                    </div>
                </div>
            </div>
           
            {% comment %} <div class="widget widget-tags">
                <h3 class="widget-title bb-no">Teglar</h3>
                <div class="widget-body tags">
                    <a href="#" class="tag">Moda</a>
                    <a href="#" class="tag">stil</a>
                    <a href="#" class="tag">Sayohat</a>
                    <a href="#" class="tag">Ayollar</a>
                    <a href="#" class="tag">Erkaklar</a>
                    <a href="#" class="tag">Hobbiy</a>
                    <a href="#" class="tag">Xarid</a>
                    <a href="#" class="tag">Fotosurat</a>
                </div>
            </div> {% endcomment %}
            <div class="widget widget-calendar">
                <h3 class="widget-title bb-no">{% trans "Taqvim" %}</h3>
                <div class="widget-body">
                    <div class="calendar-container" data-calendar-options="{
                        'dayExcerpt': 1
                    }"></div>
                </div>
            </div>
        </div>
    </div>
</aside>