{% load i18n %}
<div class="toolbox toolbox-pagination justify-content-between">
    <p class="showing-info mb-2 mb-sm-0">
    </p>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="prev disabled">
            <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous" tabindex="-1" aria-disabled="true">
                <i class="w-icon-long-arrow-left"></i>{% trans "Avalgi sahifa" %}
            </a>
        </li>
        {% endif %}
        {% for l in page_obj.paginator.page_range %}
            {% if l <= page_obj.number|add:4 and l >= page_obj.number|add:-4 %}
                {% if forloop.counter > 1 %}
                <li class="current-active"><a href="?page={{forloop.counter}}" class="disabled js-search-link">{{ forloop.counter }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="next disabled">
            <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
                {% trans "Keyingi sahifa" %}<i class="w-icon-long-arrow-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
