{% extends "base.html" %}

{% load static i18n thumbnail %}

{% block content %}

{% include 'includes/home_header.html' %}

<!-- Start of Main -->
<main class="main">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">{% trans "Tashkilot haqida" %}</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-10 pb-8">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Asosiy sahifa" %}</a></li>
                <li>{% trans "Biz haqimizda" %}</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->
    
    <!-- Start of Page Content -->
    <div class="page-content">
        <div class="container">
            <section class="introduce mb-10 pb-10">
                <h2 class="title title-center">
                    {{ object.title }}
                </h2>
                <p class=" mx-auto text-center">
                    {{ object.description }}
                </p>
                <figure class="br-lg text-center">
                    {% thumbnail object.first_large_image '1240x540' as im %}
                    <img src="{{ im.url }}" alt="{% trans "Biz haqimizda" %}" 
                        width="{{ im.width }}" height="{{ im.height }}" style="background-color: #D0C1AE;" />
                    {% endthumbnail %}
                </figure>
            </section>

            <section class="customer-service mb-7">
                <div class="row align-items-center">
                    <div class="col-md-6 pr-lg-8 mb-8">
                        <h2 class="title text-left">{% trans "Biz xaridorlarga doimiy &amp; sifatli xizmat ko'rsatamiz" %}</h2>
                        <div class="accordion accordion-simple accordion-plus">
                            <div class="card border-no">
                                <div class="card-header">
                                    <a href="#collapse3-1" class="collapse">{% trans "Xaridorga xizmat ko'rsatish" %}</a>
                                </div>
                                <div class="card-body expanded" id="collapse3-1">
                                    <p class="mb-0">
                                        {{ object.first_feature }}
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse3-2" class="expand">{% trans "Onlayn qo'llab quvvatlash" %}</a>
                                </div>
                                <div class="card-body collapsed" id="collapse3-2">
                                    <p class="mb-0">
                                        {{ object.second_feature }}
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="#collapse3-3" class="expand">{% trans "Xarid bo'yicha konsultatsiya" %}</a>
                                </div>
                                <div class="card-body collapsed" id="collapse3-3">
                                    <p class="mb-0">
                                        {{ object.third_feature }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-8">
                        <figure class="br-lg text-right">
                            {% thumbnail object.feature_image "650x500" as im %}
                            <img src="{{ im.url }}" alt="{{ object.first_feature }}"
                                width="{{ im.width }}" height="{{ im.height }}" style="background-color: #CECECC;" />
                            {% endthumbnail %}
                        </figure>
                    </div>
                </div>
            </section>

            <section class="count-section mb-10 pb-5">
                <div class="swiper-container swiper-theme" data-swiper-options="{
                    'slidesPerView': 1,
                    'breakpoints': {
                        '768': {
                            'slidesPerView': 2
                        },
                        '992': {
                            'slidesPerView': 3
                        }
                    }
                }">
                    <div class="swiper-wrapper row cols-lg-3 cols-md-2 cols-1">
                        <div class="swiper-slide counter-wrap">
                            <div class="counter text-center">
                                <span class="count-to" data-to="15">{{ object.products_in_sale }}</span>
                                <span>+</span>
                                <h4 class="title title-center">{% trans "Sotuvdagi mahsulotlar" %}</h4>
                                {{ object.products_in_sale_description }}
                            </div>
                        </div>
                        <div class="swiper-slide counter-wrap">
                            <div class="counter text-center">
                                <span></span>
                                <span class="count-to" data-to="25">{{ object.community_earnings }}</span>
                                <span>USD +</span>
                                <h4 class="title title-center">{% trans "Jamoa jamg'armasi" %}</h4>
                                {{ object.community_earnings_description }}
                            </div>
                        </div>
                        <div class="swiper-slide counter-wrap">
                            <div class="counter text-center">
                                <span class="count-to" data-to="100">{{ object.buyer_count }}</span>
                                <span>+</span>
                                <h4 class="title title-center">{% trans "Xaridorlar soni" %}</h4>
                                {{ object.buyer_count_description }}
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>
        </div>

        <section class="boost-section pt-10 pb-10">
            <div class="container mt-10 mb-9">
                <div class="row align-items-center mb-10">
                    <div class="col-md-6 mb-8">
                        <figure class="br-lg">
                            {% thumbnail object.think_about_customers_image "620x450" as im %}
                            <img src="{{ im.url }}" alt="{% trans "Mijozlar haqida qayguramiz" %}"
                                width="{{ im.width }}" height="{{ im.height }}" style="background-color: #9E9DA2;" />
                            {% endthumbnail %}
                        </figure>
                    </div>
                    <div class="col-md-6 pl-lg-8 mb-8">
                        <h4 class="title text-left">{% trans "Biz xaridorlar haqida qayg'uramiz" %}</h4>
                            <p>
                                {{ object.think_about_customers_description }}
                            </p>
                    </div>
                </div>

                {% if awards %}
                <div class="awards-wrapper">
                    <h4 class="title title-center font-weight-bold mb-10 pb-1 ls-25">{% trans "Yutuqlar" %}</h4>
                    <div class="swiper-container swiper-theme" data-swiper-options="{
                        'spaceBetween': 20,
                        'slidesPerView': 1,
                        'breakpoints': {
                            '768': {
                                'slidesPerView': 2
                            },
                            '992': {
                                'slidesPerView': 3
                            },
                            '1200': {
                                'slidesPerView': 4
                            }
                        }
                    }">
                        <div class="swiper-wrapper row cols-xl-4 cols-lg-3 cols-md-2 cols-1">
                            {% for hit in awards %}
                            <div class="swiper-slide image-box-wrapper">
                                <div class="image-box text-center">
                                    <figure>
                                        {% thumbnail hit.image "120x120" as im %}
                                        <img src="{{ im.url }}" alt="{{ hit.title }}" width="{{ im.width }}" height="{{ im.height }}" />
                                        {% endthumbnail %}
                                    </figure>
                                    <p>{{ hit.title }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>

        {% if leaders %}
        <section class="member-section mt-10 pt-9 mb-10 pb-4">
            <div class="container">
                <h4 class="title title-center mb-3">{% trans "Bizning jamoa" %}</h4>
                <p class="text-center mb-8"></p>
                <div class="swiper-container swiper-theme" data-swiper-options="{
                    'spaceBetween': 20,
                    'slidesPerView': 1,
                    'breakpoints': {
                        '576': {
                            'slidesPerView': 2
                        },
                        '768': {
                            'slidesPerView': 3
                        },
                        '992': {
                            'slidesPerView': 4
                        }
                    }
                }">
                    <div class="swiper-wrapper row cols-xl-4 cols-lg-3 cols-sm-2 cols-1">
                        {% for human in leaders %}
                        <div class="swiper-slide member-wrap">
                            <figure class="br-lg">
                                {% thumbnail human.photo "300x330" as im %}
                                <img src="{{ im.url }}" alt="{{ human.name }}" width="{{ im.width }}" height="{{ im.height }}" />
                                {% endthumbnail %}
                                <div class="overlay">
                                    <div class="social-icons">
                                        <a href="https://www.instagram.com/{{ human.instagram }}/" class="social-icon social-facebook w-icon-facebook"></a>
                                        <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                        <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                    </div>
                                </div>
                            </figure>
                            <div class="member-info text-center">
                                <h4 class="member-name">{{ human.name }}</h4>
                                <p class="text-uppercase">{{ humnan.role }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
</main>
<!-- End of Main -->
{% endblock content %}
