{% extends "base.html" %}

{% load static i18n thumbnail %}

{% block content %}

{% include 'includes/home_header.html' %}

{% include 'includes/intro.html' %}
<!-- start of .main -->
<main class="main">
    <div class="page-content">
        <div class="container">
            <div class="swiper-container swiper-theme icon-box-wrapper appear-animate br-sm bg-white mb-10"
                data-swiper-options="{
                'loop': true,
                'spaceBetween': 30,
                'slidesPerView': 1,
                'autoplay': {
                    'delay': 4000,
                    'disableOnInteraction': false
                },
                'breakpoints': {
                    '576': {
                        'slidesPerView': 2
                    },
                    '768': {
                        'slidesPerView': 2
                    },
                    '992': {
                        'slidesPerView': 3
                    },
                    '1200': {
                        'slidesPerView': 4
                    }
                }}">
                <div class="swiper-wrapper row cols-md-4 cols-sm-3 cols-1">
                    {% for feature in features %}
                    <div class="swiper-slide icon-box icon-box-side text-dark">
                        <span class="icon-box-icon icon-shipping">
                            <i class="w-icon-{{ feature.icon_class }}"></i>
                        </span>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title font-weight-bolder ls-normal">{{ feature.title }}</h4>
                            <p class="text-default">{{ feature.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- End of Iocn Box Wrapper -->

            <div class="title-links-wrapper title-underline mb-4 d-flex align-items-center appear-animate">
                <h2 class="title">{% trans "Elektrotexnika" %}</h2>
            </div>
            <div class="row banner-product-wrapper appear-animate">
                <div class="col-xl-3 col-lg-4 col-md-5 mb-4 mb-md-0">
                    <div class="banner banner-fixed br-xs" style="background-image: url({% static 'images/demos/demo7/banner/1.jpg' %});
                        background-color: #363634;">
                        <div class="banner-content">
                            <h5 class="banner-subtitle text-white text-uppercase ls-25 font-weight-bold">New
                                Arrivals</h5>
                            <h3 class="banner-title text-white text-capitalize ls-25">Premium True Wireless
                                Earbuds</h3>
                            <div class="banner-price-info text-white font-weight-bold ls25">Sale up to <span
                                    class="text-primary text-uppercase">20% Off</span></div>
                            <a href="shop-banner-sidebar.html"
                                class="btn btn-white btn-outline btn-rounded">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="swiper-container swiper-theme"
                        data-swiper-options="{
                        'spaceBetween': 20,
                        'slidesPerView': 2,
                        'breakpoints': {
                            '768': {
                                'slidesPerView': 2
                            },
                            '992': {
                                'slidesPerView': 3
                            },
                            '1200': {
                                'slidesPerView': 4
                            }
                        }
                    }">
                        <div class="swiper-wrapper row cols-xl-4 cols-lg-3 cols-md-2 cols-2">
                            {% for p in hot_electronics %}
                                {% cycle '<div class="swiper-slide product-col">' '' %}
                                    <div class="product product-slideup-content">
                                        <figure class="product-media">
                                            <a href="{{ p.get_absolute_url }}">
                                                {% thumbnail p.get_first_image "268x268" crop="center" as im %}
                                                    <img src="{{ im.url }}" alt="{{ p.name }}" width="{{im.width}}"
                                                        height="{{ im.height }}"/>
                                                {% endthumbnail %}
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-name">
                                                <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                                            </h3>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 100%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="#" class="rating-reviews">(3 Reviews)</a>
                                            </div>
                                            <div class="product-price">
                                                {% if p.discount_price %}
                                                    <ins class="new-price">{{ p.discount_price }}</ins><del class="old-price">{{ p.price }}</del>
                                                {% endif %}
                                                {% if not p.discount_price %}
                                                    <ins class="new-price">{{ p.price }}</ins>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-hidden-details">
                                            <div class="product-action">
                                                <a href="{% url 'cart:add' id=p.id %}" class="btn-product-icon btn-cart w-icon-cart text-white"
                                                    title="Add to cart"></a>
                                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                                    title="Wishlist"></a>
                                                <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                                    title="Compare"></a>
                                            </div>
                                        </div>
                                    </div>
                                {% cycle '' '</div>' %}
                                <!-- End of Product Col -->
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <!-- End of Banner Product Wrapper -->

            <div class="title-links-wrapper title-underline mb-4 d-flex align-items-center appear-animate">
                <h2 class="title">{% trans "Kiyimlar" %}</h2>
            </div>
            <div class="row pb-1 banner-product-wrapper appear-animate">
                <div class="col-xl-3 col-lg-4 col-md-5 mb-4 mb-md-0">
                    <div class="banner banner-fixed br-xs" style="background-image: url({% static 'images/demos/demo7/banner/2.jpg' %});
                        background-color: #CCCFD4;">
                        <div class="banner-content">
                            <h5 class="banner-subtitle text-white text-uppercase font-weight-bold ls-25">Weekend
                                Sale</h5>
                            <h3 class="banner-title text-white text-capitalize ls-25">New Fashion Collection
                            </h3>
                            <div class="banner-price-info text-white font-weight-bold ls25">From only <span
                                    class="text-primary text-uppercase">$185.00</span></div>
                            <a href="shop-banner-sidebar.html"
                                class="btn btn-white btn-outline btn-rounded">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="swiper-container swiper-theme "
                        data-swiper-options="{
                        'spaceBetween': 20,
                        'slidesPerView': 2,
                        'breakpoints': {
                            '768': {
                                'slidesPerView': 2
                            },
                            '992': {
                                'slidesPerView': 3
                            },
                            '1200': {
                                'slidesPerView': 4
                            }
                        }
                    }">
                        <div class="swiper-wrapper row cols-xl-4 cols-lg-3 cols-md-2 cols-2">
                            <!-- End of Product Col -->
                            {% for p in hot_clothes %}
                                {% cycle '<div class="swiper-slide product-col">' '' %}
                                    <div class="product product-slideup-content">
                                        <figure class="product-media">
                                            <a href="{{ p.get_absolute_url }}">
                                                {% thumbnail p.get_first_image "268x268" crop="center" as im %}
                                                    <img src="{{ im.url }}" alt="{{ p.name }}" width="{{im.width}}"
                                                        height="{{ im.height }}"/>
                                                {% endthumbnail %}
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-name">
                                                <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                                            </h3>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 100%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="#" class="rating-reviews">(3 Reviews)</a>
                                            </div>
                                            <div class="product-price">
                                                {% if p.discount_price %}
                                                    <ins class="new-price">{{ p.discount_price }}</ins><del class="old-price">{{ p.price }}</del>
                                                {% endif %}
                                                {% if not p.discount_price %}
                                                    <ins class="new-price">{{ p.price }}</ins>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-hidden-details">
                                            <div class="product-action">
                                                <a href="{% url 'cart:add' id=p.id %}" class="btn-product-icon btn-cart w-icon-cart text-white"
                                                    title="Add to cart"></a>
                                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                                    title="Wishlist"></a>
                                                <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                                    title="Compare"></a>
                                            </div>
                                        </div>
                                    </div>
                                {% cycle '' '</div>' %}
                                <!-- End of Product Col -->
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <!-- End of Banner Product Wrapper -->

            <div class="sale-banner banner br-sm mb-10 appear-animate">
                <div class="banner-content">
                    <h4
                        class="content-left banner-subtitle text-uppercase mb-8 mb-md-0 mr-0 mr-md-4 text-primary ls-25">
                        <span class="text-dark font-weight-bold lh-1 ls-normal mr-1">Up
                            <br>To</span>70% Sale!</h4>
                    <div class="content-right bg-dark">
                        <h3
                            class="banner-title text-uppercase font-weight-normal mb-4 mb-md-0 ls-25 text-white">
                            <span>Shop By The
                                <strong class="mr-10 pr-lg-10">Most Popular Brand Now!</strong>
                                Shop By The
                                <strong class="mr-10 pr-lg-10">Most Popular Brand Now!</strong>
                                Shop By The
                                <strong class="mr-10 pr-lg-10">Most Popular Brand Now!</strong>
                            </span>
                        </h3>
                        <a href="shop-banner-sidebar.html" class="btn btn-white btn-rounded">Shop Now
                            <i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End of Sale Banner -->

            <div class="row mb-4 appear-animate">
                <div class="col-lg-3 col-sm-6 mb-6">
                    <h4 class="title title-underline mb-2 pt-1">{% trans "Bestsellerlar" %}</h4>
                    <div class="widget widget-products">
                        {% for p in bestsellers %}
                            <div class="product product-widget">
                                <figure class="product-media">
                                    <a href="{{ p.get_absolute_url }}">
                                        {% thumbnail p.get_first_image "140x124" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="{{ p.name }}" width="{{im.width}}"
                                            height="{{ im.height }}"/>
                                        {% endthumbnail %}
                                    </a>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name">
                                        <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        {% if p.discount_price %}
                                            <ins class="new-price">{{ p.discount_price }}</ins>
                                            <del class="old-price">{{ p.price }}</del>
                                        {% endif %}
                                        {% if not p.discount_price %}
                                            <ins class="new-price">{{ p.discount_price }}</ins>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- End of Product Widget -->
                        {% endfor %}
                    </div>
                    <!-- End of Widget Products -->
                </div>
                <!-- End of Col -->

                <div class="col-lg-3 col-sm-6 mb-6">
                    <h4 class="title title-underline mb-2 pt-1">Sale Products</h4>
                    <div class="widget widget-products">
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="product-default.html">
                                    <img src="{% static 'images/demos/demo7/products/7-4.jpg' %}" alt="Product"
                                        width="124" height="140">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="product-default.html">Perfect Classic Hat</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">$69.99</ins><del class="old-price">$84.16</del>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="product-default.html">
                                    <img src="{% static 'images/demos/demo7/products/7-5.jpg' %}" alt="Product"
                                        width="124" height="140">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="product-default.html">Portable Charger</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">$25.00</ins>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="product-default.html">
                                    <img src="{% static 'images/demos/demo7/products/7-6.jpg' %}" alt="Product"
                                        width="124" height="140">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="product-default.html">Headkerchief</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">$73.71</ins><del class="old-price">$78.04</del>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                    </div>
                    <!-- End of Widget Products -->
                </div>
                <!-- End of Col -->

                <div class="col-lg-3 col-sm-6 mb-6">
                    <h4 class="title title-underline mb-2 pt-1">Featured Products</h4>
                    <div class="widget widget-products">
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="product-default.html">
                                    <img src="{% static 'images/demos/demo7/products/7-7.jpg' %}" alt="Product"
                                        width="124" height="140">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="product-default.html">T-Shirt</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">$20.00</ins>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="product-default.html">
                                    <img src="{% static 'images/demos/demo7/products/7-8.jpg' %}" alt="Product"
                                        width="124" height="140">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="product-default.html">Whiter Training Shoes</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">$25.00 - $45.00</ins>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="product-default.html">
                                    <img src="{% static 'images/demos/demo7/products/7-9.jpg' %}" alt="Product"
                                        width="124" height="140">
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="product-default.html">Grey Calotte</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">$320.00</ins>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                    </div>
                    <!-- End of Widget Products -->
                </div>
                <!-- End of Col -->

                <div class="col-lg-3 col-sm-6 mb-6">
                    <h4 class="title title-underline mb-2 pt-1">{% trans "Yangi mahsulotlar" %}</h4>
                    <div class="widget widget-products">
                        {% for p in latest %}
                            <div class="product product-widget">
                                <figure class="product-media">
                                    <a href="{{ p.get_absolute_url }}">
                                        {% thumbnail p.get_first_image "140x124" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="{{ p.name }}" width="{{im.width}}"
                                            height="{{ im.height }}"/>
                                        {% endthumbnail %}
                                    </a>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name">
                                        <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        {% if p.discount_price %}
                                            <ins class="new-price">{{ p.discount_price }}</ins>
                                            <del class="old-price">{{ p.price }}</del>
                                        {% endif %}
                                        {% if not p.discount_price %}
                                            <ins class="new-price">{{ p.discount_price }}</ins>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- End of Product Widget -->
                        {% endfor %}
                    </div>
                    <!-- End of Widget Products -->
                </div>
                <!-- End of Col -->
            </div>
            <!-- End of Row -->

            <div class="swiper-container swiper-theme brands-wrapper br-sm mb-10 appear-animate" data-swiper-options="{
                'loop': true,
                'spaceBetween': 20,
                'slidesPerView': 2,
                'autoplay': {
                    'delay': 4000,
                    'disableOnInteraction': false
                },
                'breakpoints': {
                    '576': {
                        'slidesPerView': 3
                    },
                    '768': {
                        'slidesPerView': 4
                    },
                    '992': {
                        'slidesPerView': 6
                    },
                    '1200': {
                        'slidesPerView': 8
                    }
                }
            }">
                <div class="swiper-wrapper row cols-xl-8 cols-lg-6 cols-md-4 cols-sm-3 cols-2">
                    {% for partner in partners %}
                        <div class="swiper-slide">
                            <figure>
                                <a href="{{ partner.site_url }}">
                                    {{ partner.name }}
                                    <img src="{{ partner.icon.url }}" alt="{{ partner.title }}" width="{{ partner.icon.width }}" height="{{ partner.icon.height }}" />
                                </a>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- End of Brands Wrapper -->
        </div>
        <!-- End of Container -->
    </div>
</main>
{% endblock content %}