{% extends "base.html" %}

{% load static i18n thumbnail mathfilters custom_tags humanize %}

{% block content %}

{% include 'includes/home_header.html' %}

{% include 'includes/intro.html' %}
<!-- start of .main -->
<main class="main">
    <div class="page-content">  
        <div class="container">
            <div class="swiper-container swiper-theme icon-box-wrapper appear-animate br-sm bg-white mb-10"
                data-swiper-options="{
                'loop': true,
                'spaceBetween': 30,
                'slidesPerView': 1,
                'autoplay': {
                    'delay': 4000,
                    'disableOnInteraction': false
                },
                'breakpoints': {
                    '576': {
                        'slidesPerView': 2
                    },
                    '768': {
                        'slidesPerView': 2
                    },
                    '992': {
                        'slidesPerView': 3
                    },
                    '1200': {
                        'slidesPerView': 4
                    }
                }}">
                <div class="swiper-wrapper row cols-md-4 cols-sm-3 cols-1">
                    {% for item in features %}
                    <div class="swiper-slide icon-box icon-box-side text-dark">
                        <span class="icon-box-icon">
                            <i class="w-icon-{{ item.icon_class }}"></i>
                        </span>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title font-weight-bolder ls-normal">{{ item.title }}</h4>
                            <p class="text-default">{{ item.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- End of Iocn Box Wrapper -->

            <div class="category-banner-3cols swiper-container swiper-theme pt-2 mb-10 appear-animate"
                data-swiper-options="{
                'spaceBetween': 20,
                'slidesPerView': 1,
                'breakpoints': {
                    '576': {
                        'slidesPerView': 2
                    },
                    '992': {
                        'slidesPerView': 3
                    }
                }
            }">
                <div class="swiper-pagination"></div>
            </div>
            <!-- End of Category Banner 3Cols -->

            <div class="title-link-wrapper title-deals appear-animate">
                <h2 class="title">{% trans "Kunning eng yaxshi sotuvlari" %}</h2>
                <a href="#" class="font-weight-bold ls-25">{% trans "Barcha mahsulotlar" %}<i
                        class="w-icon-long-arrow-right"></i></a>
            </div>
            <div class="row appear-animate">
            {% for item in products|slice:":4"  %}
                <div class="col-lg-6 mb-4">
                    <div class="product product-list br-xs mb-0">
                        <figure class="product-media">
                            <a href="{{ item.get_absolute_url }}">
                                {% thumbnail item.get_first_image '315x355' as im %}
                                <img src="{{ im.url }}" alt="{{ item.title }}" width="{{ im.width }}"
                                    height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                            <div class="product-action-vertical">
                                {% comment %} <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                    title="Quick View"></a> {% endcomment %}
                            </div>
                            <div class="product-countdown-container">
                                <div class="product-countdown countdown-compact" data-until="2021, 12, 30"
                                    data-format="DHMS" data-compact="false"
                                    data-labels-short="{% trans "Kun, Soat, Min, Sek" %}">
                                    {{ item.created }}</div>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name">
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            </h4>
                            <div class="ratings-container">
                                <div class="rating mr-2 noClick">
                                    <div class="star-content">
                                        {% for item in item.rating|mul:'i' %}
                                        <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                        {% for item in 5|sub:item.rating|mul:'i' %}
                                        <span class="fa fa-star"></span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <a href="#" class="rating-reviews">(3{% trans " izohlar)" %}</a>
                            </div>
                            <div class="product-price">{{ item.price|sum|floatformat:-2|intcomma }} UZS</div>
                            <p>{{ item.description|truncatewords_html:20 }}</p>
                            <div class="product-action">
                                <a href="{% url 'cart:add' id=item.id %}" class="btn-product btn-cart" title="Add to Cart"><i
                                        class="w-icon-cart"></i> {% trans "Savatga" %}</a>
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                    title="{% trans "Sevimlilarga qo'shish" %}"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                    title="{% trans "Taqqoslash" %}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End of Product List -->
            <div class="title-links-wrapper title-underline mb-4 d-flex align-items-center appear-animate">
                <h2 class="title">{% trans "Oxirgi mahsuloatlar" %}</h2>
                
            </div>
            <div class="row banner-product-wrapper appear-animate">
                {% if top_prods %}
                <div class="col-xl-3 col-lg-4 col-md-5 mb-4 mb-md-0">
                    <div class="banner banner-fixed br-xs" style="background-image: url({{ top_prods.banner.url }});
                        background-color: #363634;">
                        <div class="banner-content">
                            <h5 class="banner-subtitle text-white text-uppercase ls-25 font-weight-bold">{{ top_prods.ad_type }}</h5>
                            <h3 class="banner-title text-white text-capitalize ls-25">{{ top_prods.ad_title }}</h3>
                            <div class="banner-price-info text-white font-weight-bold ls25">{{ top_prods.ad_info }}</div>
                            <a href="{{ top_prods.button_link }}"
                                class="btn btn-white btn-outline btn-rounded">{% trans "Kashf eting" %}</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="swiper-container swiper-theme"
                        data-swiper-options="{
                        'spaceBetween': 20,
                        'slidesPerView': 2,
                        'breakpoints': {
                            '768': {
                                'slidesPerView': 2
                            },
                            '992': {
                                'slidesPerView': 3
                            },
                            '1200': {
                                'slidesPerView': 4
                            }
                        }
                    }">
                        <div class="swiper-wrapper row cols-xl-4 cols-lg-3 cols-md-2 cols-2">
                            {%  if products %}
                            <div class="swiper-slide product-col">
                                {% for item in products %}
                                <div class="product product-slideup-content">
                                    <figure class="product-media">
                                        <a href="{{ item.get_absolute_url }}">
                                            {% thumbnail item.get_first_image '239x269' as im %}
                                            <img src="{{ im.url }}" alt="{{ item.title }}"
                                                width="{{ im.width }}" height="{{ im.height }}">
                                            {% endthumbnail %}
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h3 class="product-name">
                                            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                        </h3>
                                        <div class="ratings-container">
                                        </div>
                                        <div class="product-price">
                                            <ins class="new-price">{{ item.price|sum|floatformat:-2|intcomma }} UZS</ins>
                                        </div>
                                    </div>
                                    <div class="product-hidden-details">
                                        <div class="product-action">
                                            <a href="{% url 'cart:add' id=item.id %}" class="btn-product btn-cart" title="{% trans "Savatga qo'shish" %}">
                                                <i class="w-icon-cart"></i><span>{% trans "Savatga qo'shish" %}</span></a>
                                            <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                                title="Add to wishlist"></a>
                                            <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                                title="Compare"></a>
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:2 %}
                            </div>
                            <div class="swiper-slide product-col">
                                {% endif %}
                                <!-- End of Product Slideup Content -->
                                {% endfor %}
                            </div>
                            {% endif %}
                            <!-- End of Product Col -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

            <div class="swiper-container swiper-theme shadow-swiper vendor-wrapper appear-animate"
                data-swiper-options="{
                'spaceBetween': 20,
                'slidesPerView': 1,
                'breakpoints': {
                    '576': {
                        'slidesPerView': 2
                    },
                    '768': {
                        'slidesPerView': 3
                    },
                    '992': {
                        'slidesPerView': 4
                    }
                }
            }">
                <div class="swiper-pagination"></div>
            </div>
            <!-- End of Vendor -->

            <div class="row category-banner-2cols appear-animate">
                {% for item in half_page %}
                <div class="col-md-6 mb-4">
                    <div class="banner banner-fixed br-xs">
                        {% thumbnail item.banner '670x180' as im %}
                        <figure>
                            <img src="{{ im.url }}" alt="{{ item.ad_title }}"
                                width="{{ im.width }}" height="{{ im.height }}" style="background-color: #e6e7eb;" />
                        </figure>
                        {% endthumbnail %}
                        <div class="banner-content y-50">
                            <h5 class="banner-subtitle text-primary text-capitalize font-weight-normal">{{ item.ad_title }}</h5>
                            <h3 class="banner-title text-capitalize ls-25">{{ item.ad_info }}</h3>
                            <a href="{{ item.button_link }}"
                                class="btn btn-dark btn-link btn-underline btn-icon-right">
                                {% trans "Kashf eting" %}<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End of Banner -->
                </div>
                {% endfor %}
            </div>  
            <!-- End of Category Banner 2Cosl -->

            <div class="sale-banner banner br-sm mb-10 appear-animate">
                <div class="banner-content">
                    <h4
                        class="content-left banner-subtitle text-uppercase mb-8 mb-md-0 mr-0 mr-md-4 text-primary ls-25">
                        <span class="text-dark font-weight-bold lh-1 ls-normal mr-1">
                            <br></span>{{ big_vertical.ad_discount }}% {% trans "chegirma" %}!</h4>
                    <div class="content-right bg-dark">
                        <h3
                            class="banner-title text-uppercase font-weight-normal mb-4 mb-md-0 ls-25 text-white">
                            <span>{{ big_vertical.ad_title }}
                                <strong class="mr-10 pr-lg-10">{{ big_vertical.ad_info }}</strong>
                                {{ big_vertical.ad_title }} <strong class="mr-10 pr-lg-10">{{ big_vertical.ad_info }}</strong>
                                {{ big_vertical.ad_title }} <strong class="mr-10 pr-lg-10">{{ big_vertical.ad_info }}</strong>
                            </span>
                        </h3>
                        <a href="{{ big_vertical.button_link }}" class="btn btn-white btn-rounded">{% trans "Xarid qiling" %}
                            <i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End of Sale Banner -->

            <div class="row mb-4 appear-animate">
                <div class="col-lg-4 col-sm-4 mb-6">
                    <h4 class="title title-underline mb-2 pt-1">{% trans "Bozorgir mahsulotlar" %}</h4>
                    <div class="widget widget-products">
                        {% for item in products|slice:":3" %}
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.get_first_image "124x140" as im %}
                                    <img src="{{ im.url }}" alt="Product"
                                        width="{{ item.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="rating mr-2 noClick">
                                        <div class="star-content">
                                            {% for item in item.rating|mul:'i' %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                            {% for item in 5|sub:item.rating|mul:'i' %}
                                            <span class="fa fa-star"></span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">{{ item.price|sum|floatformat:-2|intcomma }} UZS</ins>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                        {% endfor %}
                    </div>
                    <!-- End of Widget Products -->
                </div>
                <!-- End of Col -->

                <div class="col-lg-4 col-sm-4 mb-6">
                    <h4 class="title title-underline mb-2 pt-1">{% trans "Sevimli mahsulotlar" %}</h4>
                    <div class="widget widget-products">
                        {% for item in products|slice:":3" %}
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.get_first_image "124x140" as im %}
                                    <img src="{{ im.url }}" alt="Product"
                                        width="{{ item.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="rating mr-2 noClick">
                                        <div class="star-content">
                                            {% for item in item.rating|mul:'i' %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                            {% for item in 5|sub:item.rating|mul:'i' %}
                                            <span class="fa fa-star"></span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">{{ item.price|sum|floatformat:-2|intcomma }} UZS</ins>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                        {% endfor %}
                        <!-- End of Product Widget -->
                    </div>
                    <!-- End of Widget Products -->
                </div>
                <!-- End of Col -->

                <div class="col-lg-4 col-sm-4 mb-6">
                    <h4 class="title title-underline mb-2 pt-1">{% trans "Yangli mahsulotlar" %}</h4>
                    <div class="widget widget-products">
                        {% for item in products|slice:":3"  %}
                        <div class="product product-widget">
                            <figure class="product-media">
                                <a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.get_first_image "124x140" as im %}
                                    <img src="{{ im.url }}" alt="Product"
                                        width="{{ item.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </a>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="rating mr-2 noClick">
                                        <div class="star-content">
                                            {% for item in item.rating|mul:'i' %}
                                            <span class="fa fa-star checked"></span>
                                            {% endfor %}
                                            {% for item in 5|sub:item.rating|mul:'i' %}
                                            <span class="fa fa-star"></span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <ins class="new-price">{{ item.price|sum|floatformat:-2|intcomma }} UZS</ins>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Widget -->
                        {% endfor %}
                        <!-- End of Product Widget -->
                    </div>
                    <!-- End of Widget Products -->
                </div>
                <!-- End of Col -->
            </div>
            <!-- End of Row -->

            {% comment %} partners slider {% endcomment %}
            {% if partners %}
            <div class="swiper-container swiper-theme brands-wrapper br-sm mb-10 appear-animate" data-swiper-options="{
                'loop': true,
                'spaceBetween': 20,
                'slidesPerView': 2,
                'autoplay': {
                    'delay': 4000,
                    'disableOnInteraction': false
                },
                'breakpoints': {
                    '576': {
                        'slidesPerView': 3
                    },
                    '768': {
                        'slidesPerView': 4
                    },
                    '992': {
                        'slidesPerView': 6
                    },
                    '1200': {
                        'slidesPerView': 8
                    }
                }
            }">
                <div class="swiper-wrapper row cols-xl-8 cols-lg-6 cols-md-4 cols-sm-3 cols-2">
                    {% for item in partners %}
                    <div class="swiper-slide partners">
                        {% thumbnail item.icon "80x80" as im %}
                        <img src="{{ im.url }}" alt="{{ item.title }}" width="{{ im.width }}px" height="{{ im.height }}px"/>
                        {% endthumbnail %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <!-- End of Brands Wrapper -->
            {% if posts|length > 0 %}
            <div class="title-link-wrapper title-post mb-4 appear-animate">
                <h2 class="title ls-normal mb-0">{% trans "Bizning blogimiz" %}</h2>
                <a href="{% url 'blog:list' %}" class="font-weight-bold font-size-normal mb-2">{% trans "Barcha maqolalar" %}<i
                        class="w-icon-long-arrow-right"></i></a>
            </div>
            <div class="swiper-container swiper-theme post-wrapper mb-8 mb-lg-4 appear-animate"
                data-swiper-options="{
                'slidesPerView': 1,
                'spaceBetween': 20,
                'breakpoints': {
                    '576': {
                        'slidesPerView': 2
                    },
                    '768': {
                        'slidesPerView': 3
                    },
                    '992': {
                        'slidesPerView': 4
                    }
                }
            }">
                <div class="swiper-wrapper row cols-lg-4 cols-md-3 cols-sm-2 cols-1">
                    {% for item in posts %}
                    <div class="swiper-slide post text-center overlay-zoom">
                        <figure class="post-media br-sm">
                            <a href="{{ item.get_absolute_url }}">
                                {% thumbnail item.image '325x214' as im %}
                                <img src="{{ im.url }}" alt="{{ item.title }}" width="{{ im.width }}" height="{{ im.height }}"
                                    style="background-color: #b8bfc4;" />
                                {% endthumbnail %}
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-meta">
                                {% comment %} by <a href="#" class="post-author">John Doe</a> {% endcomment %}
                                - <a href="#" class="post-date mr-0">{{ item.modified }}</a>
                            </div>
                            <h4 class="post-title"><a href="post-single.html">{{ item.title }}</a>
                            </h4>
                            <a href="{{ item.get_absolute_url }}" class="btn btn-link btn-dark btn-underline">{% trans "To'liq o'qish" %}<i
                                    class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- End of Blog Post -->
            {% endif %}

            {% if last_seen|length > 0 %}
            <div class="title-link-wrapper title-recent mb-4 appear-animate">
                <h2 class="title ls-normal mb-0">{% trans "Yaqinda ko'rilgan mahsuloatlar" %}</h2>
                <a href="{% url 'products:list' %}" class="font-weight-bold font-size-normal mb-2">{% trans "Barcha mahsulotlar" %}<i
                        class="w-icon-long-arrow-right"></i></a>
            </div>
            <div class="swiper-container swiper-theme shadow-swiper appear-animate pb-2 mb-10 appear-animate"
                data-swiper-options="{
                'spaceBetween': 20,
                'slidesPerView': 2,
                'breakpoints': {
                    '576': {
                        'slidesPerView': 3
                    },
                    '768': {
                        'slidesPerView': 5
                    },
                    '992': {
                        'slidesPerView': 6
                    },
                    '1200': {
                        'slidesPerView': 8
                    }
                }
            }">
                <div class="swiper-wrapper row cols-xl-8 cols-lg-6 cols-md-4 cols-2">
                    {% for item in last_seen %}
                    <div class="swiper-slide product-wrap mb-0">
                        <div class="product text-center product-absolute">
                            <figure class="product-media">
                                <a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.get_first_image "152x171" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.title }}"
                                        width="{{ im.width }}" height="{{ im.height }}" style="background-color: #fff" />
                                    {% endthumbnail %}
                                </a>
                            </figure>
                            <h4 class="product-name">
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                            </h4>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End of Product Wrap -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- End of Reviewed Producs -->
            {% endif %}
        </div>
        <!-- End of Container -->
    </div>
</div>
{% endblock content %}
