{% extends "base.html" %}
{% load static i18n account socialaccount %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

{% include 'includes/home_header.html' %}

<!-- Start of Main -->
<main class="main">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">{% trans "Mening profilim" %}</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container mt-2 mb-2">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Asosiy sahifa" %}</a></li>
                <li>{% trans "Mening profilim" %}</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of PageContent -->
    <div class="page-content pt-2">
        <div class="container">
            <div class="tab-vertical row gutter-lg">
                {% include "includes/menu_for_user_account.html" %}
                <div class="tab-content mb-6">
                    {%if not request.user.profile %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="padding: 1.4rem 1.5rem 1.4rem 2rem;">
                        {% trans "Manzil ma'lumotlari sizda to'liq emas. Iltimos manzil ma'lumotlarini to'ldiring." %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right;">X</button>
                      </div>
                    {% endif %}
                    <div class="tab-pane active" id="account-addresses">
                        <div class="row">
                            <div class="ecommerce-address billing-address pr-lg-8">
                                <h4 class="title title-underline ls-25 font-weight-bold">{% trans "Foydalanuvchi ma'lumotlari" %}</h4>
                                <address class="mb-4">
                                    <table class="address-table">
                                        <tbody>
                                            <tr>
                                                <th style="width:300px;">{% trans "Ism:" %}</th>
                                                <td>{{ object.first_name }}</td>
                                            </tr>
                                            <tr>
                                                <th style="width:300px;">{% trans "Familiya:" %}</th>
                                                <td>{{ object.last_name }}</td>
                                            </tr>
                                            <tr>
                                                <th style="width:300px;">{% trans "Foydalanuvchi nomi:" %}</th>
                                                <td>{{ object.username }}</td>
                                            </tr>
                                            <tr>
                                                <th style="width:300px;">{% trans "Elektron pochta manzili:" %}</th>
                                                <td>{{ object.email }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </address>
                                <a href="{% url 'users:account_details_update' username=user.username%}"
                                    class="btn btn-link btn-underline btn-icon-right text-primary">{% trans "Foydalanuvchi ma'lumotlarini o'zgartirish" %}
                                    <i class="w-icon-long-arrow-right"></i></a>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PageContent -->
</main>
<!-- End of Main -->
{% endblock content %}
