{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Ro'yhatdan o'tish" %}{% endblock %}
{% block content %}
{% include 'includes/home_header.html' %}

<div class="row justify-content-center mt-10 mb-10">
	<div class="col-md-6">
		<h1>{% translate "Ro'yhatdan o'tish" %}</h1>

		<p>{% blocktranslate %}Agar akkauntingiz bo'lsa iltimos tizimga <a href="{{ login_url }}">kiring</a>.{% endblocktranslate %}</p>

		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  			{% csrf_token %}
			<div class="form-group">
				{{ form.first_name.errors}}
				<label for="id_first_name">Ism *</label>
				{{ form.first_name }}
			</div>
			<div class="form-group">
				{{ form.last_name.errors}}
				<label for="id_last_name">Familiya *</label>
				{{ form.last_name }}
			</div>
			<div class="form-group">
				{{ form.username.errors}}
				<label for="id_username">Foydalanuvchi nomi *</label>
				{{ form.username }}
			</div>
			<div class="form-group">
				{{ form.email.errors}}
				<label for="id_email">Elektron pochta manzili *</label>
				{{ form.email }}
			</div>
			<div class="form-group">
				{{ form.password1.errors}}
				<label for="id_password1">Parol *</label>
				{{ form.password1 }}
			</div>
			<div class="form-group">
				{{ form.password2.errors}}
				<label for="id_password2">Parolni takrorlang *</label>
				{{ form.password2 }}
			</div>
			{% comment %} {{ form|crispy }} {% endcomment %}
  			
  			<button class="btn btn-primary mt-3" type="submit">{% translate "Ro'yhatdan o'tish" %} &raquo;</button>
		</form>
	</div>
</div>

{% endblock %}
