{% extends 'base.html' %}
{% load static i18n %}


{% block content %}
{% include 'includes/home_header.html' %}
<!-- Start of Main -->
<main class="main wishlist-page">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">{% trans "Sevimli mahsulotlar" %}</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-10">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Asosiy sahifa" %}</a></li>
                <li>{% trans "Sevimli mahsulotlar" %}</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of PageContent -->
    <div class="page-content">
        <div class="container">
            <h3 class="wishlist-title">{% trans "Mahsulotlar" %}</h3>
            {% if products|length > 0 %}
            <table class="shop-table wishlist-table">
                <thead>
                    <tr class="text-left">
                        <th class="product-name"><span>Product</span></th>
                        <th></th>
                        <th class="product-price"><span>Price</span></th>
                        <th class="product-stock-status"><span>Stock Status</span></th>
                        <th class="wishlist-action">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %}
                    <tr>
                        <td class="product-thumbnail">
                            <div class="p-relative">
                                <a href="{% url 'whishlist:remove' product_id=item.id %}">
                                    <figure>
                                        <img src="{{ item.get_first_image.url }}" alt="product" width="300"
                                            height="338">
                                    </figure>
                                </a>
                                <button type="submit" class="btn btn-close"><i
                                        class="fas fa-times"></i></button>
                            </div>
                        </td>
                        <td class="product-name">
                            <a href="{{ item.get_absolute_url }}">
                                {{ item.title }}
                            </a>
                        </td>
                        <td class="product-price">
                            {% if item.discount %}
                            <ins class="new-price">{{ item.discount_price|sum|floatformat:-2|intcomma }} UZS</ins> <br>
                            <del class="old-price">{{ item.price|sum|floatformat:-2|intcomma }} UZS</del>
                            {% else %}
                            <ins class="new-price">{{ item.price|sum|floatformat:-2|intcomma }} UZS</ins>
                            {% endif %}
                        </td>
                        <td class="product-stock-status">
                            {% if item.available %}
                            <span class="wishlist-in-stock">{% trans "Sotuvda mavjud" %}</span> <br>
                            {% endif %}
                            {% if item.bestseller %}
                            <span class="wishlist-in-stock">{% trans "Bestseller" %}</span><br>
                            {% endif %}
                            {% if item.discount %}
                            <span class="wishlist-in-stock">{% trans "Chegirmada" %}</span><br>
                            {% endif %}
                            {% if item.lising %}
                            <span class="wishlist-in-stock">{% trans "Lisingga mavjud" %}</span>
                            {% endif %}
                        </td>
                        <td class="wishlist-action">
                            <div class="d-lg-flex">
                                <a href="{% url 'cart:add' id=item.id %}" class="btn btn-dark btn-rounded btn-sm ml-lg-2 btn-cart">{% trans "Savatga qo'shish" %}</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="text-center">
                <h4 class="mt-5 mb-3">{% trans "Sevimli mahsulotlar hozircha yo'q" %}</h4>
                <a href="{% url 'products:list' %}" class="btn btn-primary">{% trans "Mahsulotlar" %}</a>
            </div>
            {% endif %}
            <div class="social-links">
                <label>{% trans "Do'stlar bilan ulashing:" %}</label>
                <div class="social-icons social-no-color border-thin">
                    <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                    <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                    <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                    <a href="#" class="social-icon social-email far fa-envelope"></a>
                    <a href="#" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PageContent -->
</main>
<!-- End of Main -->

{% endblock content %}
