<ul class="nav nav-tabs mb-6" role="tablist">
    <li class="nav-item">
        <a href="#account-dashboard" class="nav-link active">{% trans "Menu" %}</a>
    </li>
    <li class="nav-item">
        <a href="#account-orders" class="nav-link">{% trans "Buyurtmalar" %}</a>
    </li>
    <li class="nav-item">
        <a href="#account-addresses" class="nav-link">{% trans "Manzil" %}</a>
    </li>
    <li class="nav-item">
        <a href="#account-details" class="nav-link">{% trans "Profil malumotlari" %}</a>
    </li>
</ul>