{% load static i18n %}
<footer class="footer footer-dark appear-animate" data-animation-options="{
            'name': 'fadeIn'
}">
    <div class="footer-newsletter bg-primary">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="icon-box icon-box-side text-white">
                        <div class="icon-box-icon d-inline-flex">
                            <i class="w-icon-envelop3"></i>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title text-white text-uppercase font-weight-bold">{% trans "Bizning yangiliklarimizga obuna bo'ling" %}</h4>
                            <p class="text-white">{% trans "So'ngiz yangiliklardan xabardor bo'ling" %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0 ">
                    <form action="#" method="get"
                        class="input-wrapper input-wrapper-inline input-wrapper-rounded">
                        <input type="email" class="form-control mr-2 bg-white" name="email" id="email"
                            placeholder="{% trans "Elektron pochtangiz" %}" />
                        <button class="btn btn-dark btn-rounded" type="submit">{% trans "Obuna bo'lish" %}<i
                                class="w-icon-long-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-about mt-0">
                        <a href="demo7.html" class="logo-footer">
                            <img src="{% static 'images/logo.png' %}" alt="logo-footer" width="145"
                                height="45" />
                        </a>
                        <div class="widget-body">
                            <p class="widget-about-title">{% trans "Savolingiz bormi? 24/7 bizga qo'ng'iroq qiling" %}</p>
                            <a href="tel:998906676625" class="widget-about-call">+998906676625</a>
                            <p class="widget-about-desc">{% trans "Hoziroq ro'yhatdan o'ting va birinchi bo'lib buyurtma bering !" %}
                            </p>

                            <div class="social-icons social-icons-colored">
                                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title">{% trans "Korxona" %}</h3>
                        <ul class="widget-body">
                            <li><a href="#">{% trans "Korxona haqida" %}</a></li>
                            <li><a href="#">{% trans "Jamoa" %}</a></li>
                            <li><a href="#">{% trans "karyera" %}</a></li>
                            <li><a href="#">{% trans "Bog'lanish" %}</a></li>
                            <li><a href="#">{% trans "Hissangizni qo'shing" %}</a></li>
                            <li><a href="#">{% trans "Buyurtmalar" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">{% trans "Mening profilim" %}</h4>
                        <ul class="widget-body">
                            <li><a href="#">{% trans "Buyurtmani kuzatish" %}</a></li>
                            <li><a href="#">{% trans "Savatni" %}</a></li>
                            <li><a href="#">{% trans "Kirish" %}</a></li>
                            <li><a href="#">{% trans "Yordam" %}</a></li>
                            <li><a href="#">{% trans "Sevimli mahsulotlar" %}</a></li>
                            <li><a href="#">{% trans "Mahfiylik siyosati" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">{% trans "Mijozga xizmat" %}</h4>
                        <ul class="widget-body">
                            <li><a href="#">{% trans "To'lov turlari" %}</a></li>
                            <li><a href="#">{% trans "Pulingiz qaytarib beriladi" %}</a></li>
                            <li><a href="#">{% trans "Mahsulotni qaytarish" %}</a></li>
                            <li><a href="#">{% trans "Qo'llab quvvatlash" %}</a></li>
                            <li><a href="#">{% trans "Yetkazib berish" %}</a></li>
                            <li><a href="#">{% trans "Foydalanish shartlari" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="widget widget-category">
                <div class="category-box">
                    <h6 class="category-name">Consumer Electric:</h6>
                    <a href="#">TV Television</a>
                    <a href="#">Air Condition</a>
                    <a href="#">Refrigerator</a>
                    <a href="#">Washing Machine</a>
                    <a href="#">Audio Speaker</a>
                    <a href="#">Security Camera</a>
                    <a href="#">View All</a>
                </div>
                <div class="category-box">
                    <h6 class="category-name">Clothing & Apparel:</h6>
                    <a href="#">Men's T-shirt</a>
                    <a href="#">Dresses</a>
                    <a href="#">Men's Sneacker</a>
                    <a href="#">Leather Backpack</a>
                    <a href="#">Watches</a>
                    <a href="#">Jeans</a>
                    <a href="#">Sunglasses</a>
                    <a href="#">Boots</a>
                    <a href="#">Rayban</a>
                    <a href="#">Acccessories</a>
                </div>
                <div class="category-box">
                    <h6 class="category-name">Home, Garden & Kitchen:</h6>
                    <a href="#">Sofa</a>
                    <a href="#">Chair</a>
                    <a href="#">Bed Room</a>
                    <a href="#">Living Room</a>
                    <a href="#">Cookware</a>
                    <a href="#">Utensil</a>
                    <a href="#">Blender</a>
                    <a href="#">Garden Equipments</a>
                    <a href="#">Decor</a>
                    <a href="#">Library</a>
                </div>
                <div class="category-box">
                    <h6 class="category-name">Health & Beauty:</h6>
                    <a href="#">Skin Care</a>
                    <a href="#">Body Shower</a>
                    <a href="#">Makeup</a>
                    <a href="#">Hair Care</a>
                    <a href="#">Lipstick</a>
                    <a href="#">Perfume</a>
                    <a href="#">View all</a>
                </div>
                <div class="category-box">
                    <h6 class="category-name">Jewelry & Watches:</h6>
                    <a href="#">Necklace</a>
                    <a href="#">Pendant</a>
                    <a href="#">Diamond Ring</a>
                    <a href="#">Silver Earing</a>
                    <a href="#">Leather Watcher</a>
                    <a href="#">Rolex</a>
                    <a href="#">Gucci</a>
                    <a href="#">Australian Opal</a>
                    <a href="#">Ammolite</a>
                    <a href="#">Sun Pyrite</a>
                </div>
                <div class="category-box">
                    <h6 class="category-name">Computer & Technologies:</h6>
                    <a href="#">Laptop</a>
                    <a href="#">iMac</a>
                    <a href="#">Smartphone</a>
                    <a href="#">Tablet</a>
                    <a href="#">Apple</a>
                    <a href="#">Asus</a>
                    <a href="#">Drone</a>
                    <a href="#">Wireless Speaker</a>
                    <a href="#">Game Controller</a>
                    <a href="#">View all</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <p class="copyright">{% trans "Copyright © 2021 | 1zum do'koni. Barcha huquqlar himoyalangan" %}.</p>
            </div>
            <div class="footer-right">
                <span class="payment-label mr-lg-8">{% trans "Havfsiz to'lovlar" %}</span>
                <figure class="payment">
                    <img src="{% static 'images/payment.png' %}" alt="payment" width="159" height="25" />
                </figure>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->
