{% load static i18n mptt_tags %}
<footer class="footer footer-dark appear-animate" data-animation-options="{
            'name': 'fadeIn'
}">
    <div class="footer-newsletter bg-primary">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="icon-box icon-box-side text-white">
                        <div class="icon-box-icon d-inline-flex">
                            <i class="w-icon-envelop3"></i>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="icon-box-title text-white text-uppercase font-weight-bold">{% trans "Bizning yangiliklarimizga obuna bo'ling" %}</h4>
                            <p class="text-white">{% trans "So'ngiz yangiliklardan xabardor bo'ling" %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0 ">
                    <form action="#" method="get"
                        class="input-wrapper input-wrapper-inline input-wrapper-rounded">
                        <input type="email" class="form-control mr-2 bg-white" name="email" id="email"
                            placeholder="{% trans "Elektron pochtangiz" %}" />
                        <button class="btn btn-dark btn-rounded" type="submit">{% trans "Obuna bo'lish" %}<i
                                class="w-icon-long-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="widget widget-about mt-0">
                        <a href="{% url 'home' %}" class="logo-footer">
                            <img src="{% static 'images/logo.png' %}" alt="logo-footer" width="145"
                                height="45" />
                        </a>
                        <div class="widget-body">
                            <p class="widget-about-title">{% trans "Savolingiz bormi? 24/7 bizga qo'ng'iroq qiling" %}</p>
                            <a href="tel:+998946680506" class="widget-about-call">+998946680506</a>
                            <p class="widget-about-desc">{% trans "Hoziroq ro'yhatdan o'ting va birinchi bo'lib buyurtma bering !" %}
                            </p>

                            <div class="social-icons social-icons-colored">
                                <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                                <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                                <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h3 class="widget-title">{% trans "Korxona" %}</h3>
                        <ul class="widget-body">
                            <li><a href="{% url 'company:about' %}">{% trans "Biz haqimizda" %}</a></li>
                            <li><a href="{% url 'products:list' %}?discount=1">{% trans "Chegirmalar" %}</a></li>
                            <li><a href="{% url 'products:list' %}?new=1">{% trans "Yangi mahsulotlar" %}</a></li>
                            <li><a href="{% url 'company:contact' %}">{% trans "Bog'lanish" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">{% trans "Mening profilim" %}</h4>
                        <ul class="widget-body">
                            <li><a href="#">{% trans "Buyurtmani kuzatish" %}</a></li>
                            <li><a href="{% url 'cart:detail' %}">{% trans "Savat" %}</a></li>
                            <li><a href="{{ get_language_code }}/accounts/login">{% trans "Kirish" %}</a></li>
                            <li><a href="#">{% trans "Yordam" %}</a></li>
                            <li><a href="{% url 'whishlist:whishlist' %}">{% trans "Sevimli mahsulotlar" %}</a></li>
                            <li><a href="#">{% trans "Mahfiylik siyosati" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">{% trans "Mijozga xizmat" %}</h4>
                        <ul class="widget-body">
                            <li><a href="#">{% trans "To'lov turlari" %}</a></li>
                            <li><a href="#">{% trans "Pulingiz qaytarib beriladi" %}</a></li>
                            <li><a href="#">{% trans "Mahsulotni qaytarish" %}</a></li>
                            <li><a href="#">{% trans "Qo'llab quvvatlash" %}</a></li>
                            <li><a href="#">{% trans "Yetkazib berish" %}</a></li>
                            <li><a href="#">{% trans "Foydalanish shartlari" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="widget widget-category">
                {% for item in categories %}
                    {% if item.is_root_node %}
                    <div class="category-box">
                        <h6 class="category-name">{{ item.name }}:</h6>
                        {% for cat in item.get_children %}
                        <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                        {% endfor %}
                    </div><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-left">
                <p class="copyright">{% trans "Copyright © 2021 | 1zum do'koni. Barcha huquqlar himoyalangan" %}.</p>
            </div>
            {% comment %} <div class="footer-right">
                <span class="payment-label mr-lg-8">{% trans "Havfsiz to'lovlar" %}</span>
                <figure class="payment">
                    <img src="{% static 'images/payment.png' %}" alt="payment" width="159" height="25" />
                </figure>
            </div> {% endcomment %}
        </div>
    </div>
</footer>
<!-- End of Footer -->
