{% load static i18n mptt_tags thumbnail custom_tags %}

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <p class="welcome-msg">{% trans "1zum do'koniga xush kelibsiz!" %}</p>
            </div>
            <div class="header-right">
                {% get_available_languages as LANGUAGES %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_language_info_list for LANGUAGES as languages %}

                <div class="dropdown">
                    <a href="#language"><img src="{% static "images/icons/"|addstr:LANGUAGE_CODE|addstr:'.png' %}" alt="ENG Flag" width="14"
                            height="8" class="dropdown-image" /> {{ LANGUAGE_CODE|upper }}</a>
                    <div class="dropdown-box">
                        {% for language in languages %}
                        {% if not language.code == LANGUAGE_CODE %}
                        <a href="/{{ language.code }}/{{ request.get_full_path|slice:"4:" }}" class="lang-switcher">
                            <img src="{% static "images/icons/"|addstr:language.code|addstr:'.png' %}" alt="{{ language.code }} Flag" width="14" height="8"
                                class="dropdown-image" />
                            {{ language.code|upper }}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- End of Dropdown Menu -->
                <span class="divider d-lg-show"></span>
                <a href="{% url 'blog:list' %}" class="d-lg-show">{% trans "Blog" %}</a>
                <a href="{% url 'company:contact' %}" class="d-lg-show">{% trans "Biz bilan bog'laning" %}</a>
                {% if user.is_authenticated %}
                <a href="{% url 'users:detail' user.username %}" class="d-lg-show">{% trans "Mening profilim" %}</a>
                {% endif %}
                <a href="/accounts/login" class="d-lg-show login"><i
                        class="w-icon-account"></i>{% trans "Kirish" %}</a>
                <span class="delimiter d-lg-show">/</span>
                <a href="{{ get_language_code }}/accounts/signup" class="ml-0 d-lg-show login">{% trans "Ro'yhatdan o'tish" %}</a>
            </div>
        </div>
    </div>
    <!-- End of Header Top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left mr-md-4">
                <a href="#" class="mobile-menu-toggle w-icon-hamburger" aria-label="menu-toggle">
                </a>
                <a href="{% url 'home' %}" class="logo ml-lg-0">
                    <img src="{% static 'images/logo.png' %}" alt="{% trans "1zum logo" %}" width="144" height="45" />
                </a>
                <form method="get" action="#" class="input-wrapper header-search hs-expanded hs-round d-none d-md-flex">
                    <div class="select-box">
                        <select id="category" name="category">
                            <option value="0">{% trans "Barchasi" %}</option>
                            {% recursetree categories %}
                            <option value="{{ node.id }}">{{ node.name }}</option>
                            {% endrecursetree %}
                        </select>
                    </div>
                    <input type="text" class="form-control" name="search" id="search"
                        placeholder="{% trans "dan qidirish" %}" required />
                    <button class="btn btn-search" type="submit"><i class="w-icon-search"></i>
                    </button>
                </form>
            </div>
            <div class="header-right ml-4">
                <div class="header-call d-xs-show d-lg-flex align-items-center">
                    <a href="tel:#" class="w-icon-call"></a>
                    <div class="call-info d-lg-show">
                        <h4 class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0">
                            <a href="mailto:#" class="text-capitalize">{% trans "Bog'lanish" %}</a> :</h4>
                        <a href="tel:#" class="phone-number font-weight-bolder ls-50">+998906676625</a>
                    </div>
                </div>
                <a class="wishlist label-down link d-xs-show" href="{% url 'whishlist:whishlist' %}">
                    <i class="w-icon-heart"></i>
                    <span class="wishlist-label d-lg-show">{% trans "Sevimlilar" %}</span>
                </a>
                <a class="compare label-down link d-xs-show" href="{% url 'compare:compare' %}">
                    <i class="w-icon-compare"></i>
                    <span class="compare-label d-lg-show">{% trans "Taqqoslash" %}</span>
                </a>
                <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                    <div class="cart-overlay"></div>
                    <a href="{% url 'cart:detail' %}" class="cart-toggle label-down link">
                        <i class="w-icon-cart">
                            <span class="cart-count" id="header-cart">{{ cart|length }}</span>
                        </i>
                        <span class="cart-label">{% trans "Savat" %}</span>
                    </a>
                    <div class="dropdown-box">
                        <div class="cart-header">
                            <span>{% trans "Xarid savatchasi" %}</span>
                            <a href="#" class="btn-close">{% trans "Yopish" %}<i class="w-icon-long-arrow-right"></i></a>
                        </div>

                        <div class="products">
                            {% for item in cart %}
                            {% with product=item.product %}
                            <div class="product product-cart">
                                <div class="product-detail">
                                    <a href="#" class="product-name">{{ product.title }}</a>
                                    <div class="price-box">
                                        <span class="product-quantity">{{ item.quantity }}</span>
                                        <span class="product-price">{{ item.price }} UZS</span>
                                    </div>
                                </div>
                                <figure class="product-media">
                                    <a href="#">
                                        {% thumbnail product.get_first_image "80x80" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="product" height="{{im.height}}" width="{{im.width}}"/>
                                        {% endthumbnail %}
                                    </a>
                                </figure>
                                <button class="btn btn-link btn-close" aria-label="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            {% endwith %}
                            {% endfor %}
                            
                        </div>

                        <div class="cart-total">
                            <label>{% trans "Umumiy" %}:</label>
                            {% if cart|length > 0 %}
                            <span class="price">{{ cart.get_total_price }} UZS</span>
                            {% endif %}
                        </div>

                        <div class="cart-action">
                            <a href="{% url 'cart:detail' %}" class="btn btn-dark btn-outline btn-rounded">{% trans "Savat" %}</a>
                        </div>
                    </div>
                    <!-- End of Dropdown Box -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Header Middle -->

    <div class="header-bottom sticky-content fix-top sticky-header has-dropdown">
        <div class="container">
            <div class="inner-wrap">
                <div class="header-left">
                    {% url 'home' as home_url %}
                    <div class="dropdown category-dropdown {% if request.get_full_path == home_url %}show-dropdown{% else %}has-border{% endif %}" data-visible="true">
                        <a href="#" class="category-toggle text-white" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true" data-display="static"
                            title="Browse Categories">
                            <i class="w-icon-category"></i>
                            <span>{% trans "Kategoriyalar" %}</span>
                        </a>

                        <div class="dropdown-box mt-0">
                            <ul class="menu vertical-menu category-menu bg-white text-default">
                                <li>
                                    
                                    <a href="{% url 'products:list' %}" class="d-flex align-items-center">
                                        <i class="w-icon-grid mr-2"></i>
                                        {% trans "Barcha mahsulotlar" %}
                                    </a>
                                </li>
                                {% recursetree categories %}
                                <li>
                                    <a href="{{ node.get_absolute_url }}">
                                        {% if node.logo %}
                                        <img src="{{ node.logo.url }}" width="20px" class="mr-1">
                                        {% endif %}
                                        {{ node.name }}
                                    </a>
                                    {% if not node.is_leaf_node %}
                                    <ul class="site_nav_primary__submenu ul__column white_box">
                                        {{ children }}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endrecursetree %}
                            </ul>
                        </div>
                    </div>
                    <nav class="main-nav ml-4">
                        <ul class="menu">
                            <li>
                                <a href="{% url 'company:about' %}">{% trans "Biz haqimizda" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'products:list' %}?discounts">{% trans "Chegirmalar" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'products:list' %}?new">{% trans "Yangi mahsulotlar" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Yo'riqnomalar" %}</a>
                                <ul>
                                    <li><a href="#">{% trans "Yetkazib berish" %}</a></li>
                                    <li><a href="#">{% trans "Mahsulotni qaytarib olish yoki almashtirish" %}</a></li>
                                    <li><a href="#">{% trans "Variantga olish shartlari" %}</a></li>
                                    <li><a href="#">{% trans "Publichnaya" %}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'company:contact' %}">{% trans "Kontaktlar / EKSS" %}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% comment %} <div class="header-right">
                    <a href="#" class="d-xl-show"><i class="w-icon-map-marker mr-1"></i>{% trans "Buyurtmani kuzatish" %}</a>
                    <a href="#"><i class="w-icon-sale"></i>{% trans "Kunlik ulashuvlar" %}</a>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</header>

<!-- End of Header -->