{% load static i18n custom_tags thumbnail %}
<section class="intro-section">
    <div class="intro-slider swiper-container swiper-theme animation-slider" data-swiper-options = "{
        'slidesPerView': 1,
        'autoplay': {
            'delay': 8000,
            'disableOnInteraction': false
        }
    }">
        <div class="swiper-wrapper row cols-1 gutter-no">
            {% for item in banners %}
            <div  class="swiper-slide banner banner-fixed intro-slide intro-slide1"
            style="background-image: url({{ item.banner_image.url }}); background-color: #EEEDEB;">
                <div class="container">
                    <div class="banner-content d-inline-block y-50">
                        <div class="slide-animate" data-animation-options="{
                            'name': 'fadeInUpShorter', 'duration': '1s'
                        }">
                            <h5 class="banner-subtitle text-uppercase font-weight-bold">
                                {{ item.banner_type }}
                            </h5>
                            <h3 class="banner-title ls-25 mb-6">
                                {% get_banner_info item.banner_info %}
                            </h3>
                            <a href="{% if item.banner_cat_model %}{{ item.banner_cat_model.get_absolute_url }}{% else %}{{ item.button_link }}{% endif %}"
                                class="btn btn-dark btn-outline btn-rounded btn-icon-right">
                                {% trans "Xaridni boshlash" %}<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
       
        <div class="custom-dots swiper-img-dots appear-animate">
             {% for item in banners %}
            <a href="#" class="active appear-animate">
                {% thumbnail item.banner_image_small "70x70" as im %}
                <img src="{{ item.banner_image_small.url }}" alt="{{ item.banner_type }}" width="{{ im.width }}"
                    height="{{ im.height }}">
                {% endthumbnail %}
            </a>
            {% endfor %}
        </div>
        
    </div>
</section>
