{% load static i18n mptt_tags thumbnail %}

<!-- Start of Mobile Menu -->
<div class="mobile-menu-wrapper">
    <div class="mobile-menu-overlay"></div>
    <!-- End of .mobile-menu-overlay -->

    <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
    <!-- End of .mobile-menu-close -->

    <div class="mobile-menu-container scrollable">
        <form action="#" method="get" class="input-wrapper">
            <input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search"
                required />
            <button class="btn btn-search" type="submit">
                <i class="w-icon-search"></i>
            </button>
        </form>
        <!-- End of Search Form -->
        <div class="tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="#main-menu" class="nav-link active">{% trans "Menyu" %}</a>
                </li>
                <li class="nav-item">
                    <a href="#categories" class="nav-link">{% trans "Kategoriyalar" %}</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="main-menu">
                <ul class="mobile-menu">
                    <li><a href="{% url 'home' %}">{% trans "Asosiy Sahifa" %}</a></li>
                    <li>
                        <a href="{% url 'products:list' %}?discounts=1">{% trans "Chegirmalar" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'products:list' %}?new=1">{% trans "Yangi mahsulotlar" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "Yo'riqnomalar" %}</a>
                        <ul>
                            <li><a href="#">{% trans "Yetkazib berish" %}</a></li>
                            <li><a href="#">{% trans "Mahsulotni qaytarib olish yoki almashtirish" %}</a></li>
                            <li><a href="#">{% trans "Variantga olish shartlari" %}</a></li>
                            <li><a href="#">{% trans "Publichnaya oferta" %}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'company:contact' %}">{% trans "Kontaktlar / EKSS" %}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="categories">
                <ul class="mobile-menu">
                    {% recursetree categories %}
                    <li>
                        <a href="{{ node.get_absolute_url }}" class="d-flex align-items-center">
                            {% thumbnail node.logo "20x20" as im %}
                            <img src="{{ im.url }}" width="{{ im.height }}" height="{{ im.height }}" class="mr-2" alt="{{ node.name }}">
                            {% endthumbnail %}
                            {{ node.name }}
                        </a>
                        {% if not node.is_leaf_node %}
                        <ul>
                            {{ children }}
                        </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Mobile Menu -->
