{% extends 'base.html' %}
{% load static i18n humanize custom_tags %}


{% block content %}
{% include 'includes/home_header.html' %}
<!-- Start of Main -->
<main class="main">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title">{% trans "Taqqoslash oynasi" %}</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-2">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Asosiy sahifa" %}</a></li>
                <li>{% trans "Taqqoslash oynasi" %}</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of Page Content -->
    <div class="page-content mb-10 pb-2">
        <div class="container">
            {% if products|length > 0 %}
            <div class="compare-table">
                <div class="compare-row cols-xl-5 cols-lg-4 cols-md-3 cols-2 compare-products">
                    <div class="compare-col compare-field">{% trans "Mahsulot" %}</div>
                    {% for item in products %}
                    <div class="compare-col compare-product">
                        <a href="{% url 'compare:remove' product_id=item.id %}" class="btn remove-product"><i class="w-icon-times-solid"></i></a>
                        <div class="product text-center">
                            <figure class="product-media">
                                <a href="{{ item.get_absolute_url }}">
                                    <img src="{{ item.get_first_image.url }}" alt="Product" width="228"
                                        height="257" />
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-cart w-icon-cart"></a>
                                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"></a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <h3 class="product-name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- End of Compare Products -->
                <div class="compare-row cols-xl-5 cols-lg-4 cols-md-3 cols-2 compare-price">
                    <div class="compare-col compare-field">Price</div>
                    {% for item in products %}
                    <div class="compare-col compare-value">
                        <div class="product-price">
                            {% if item.discount %}
                            <span class="new-price">{{ item.discount_price }} UZS</span>
                            <span class="old-price">{{ item.price }} UZS</span>
                            {% else %}
                            <span class="new-price">{{ item.price }} UZS</span>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- End of Compare Price -->
                <div class="compare-row cols-xl-5 cols-lg-4 cols-md-3 cols-2 compare-availability">
                    <div class="compare-col compare-field">{% trans "Statusi" %}</div>
                    {% for item in products %}
                    <div class="compare-col compare-value">
                        {% if item.available %}
                        {% trans "Sotuvda mavjud" %} <br>
                        {% if item.bestseller %}
                        {% endif %}
                        {% if item.discount %}
                        {% trans "Chegirmada" %} <br>
                        {% endif %}
                        {% if product.lising %}
                        {% trans "Lizingga mavjud" %} <br>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <!-- End of Compare Availability -->
                <div class="compare-row cols-xl-5 cols-lg-4 cols-md-3 cols-2 compare-description">
                    <div class="compare-col compare-field">{% trans "Tavsif" %}</div>
                    {% for item in products %}
                    <div class="compare-col compare-value">
                        {{ item.description|truncatewords_html:50 }}
                    </div>
                    {% endfor %}
                </div>
                <!-- End of Compare Description -->
                <div class="compare-row cols-xl-5 cols-lg-4 cols-md-3 cols-2 compare-reviews">
                    <div class="compare-col compare-field">{% trans "Reyting" %}</div>
                    {% for item in products %}
                    <div class="compare-col compare-rating">
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width: 80%;"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#" class="rating-reviews">(3 Reviews)</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- End of Compare Reviews -->
                <div class="compare-row cols-xl-5 cols-lg-4 cols-md-3 cols-2 compare-category">
                    <div class="compare-col compare-field">{% trans "Kategoriya" %}</div>
                    {% for item in products %}
                    <div class="compare-col compare-value">{{ item.category }}</div>
                    {% endfor %}
                </div>
                <!-- End of Compare Color -->
                <!-- s -->
                <!-- End of Compare Size -->
                <div class="compare-row cols-xl-5 cols-lg-4 cols-md-3 cols-2 compare-brand">
                    <div class="compare-col compare-field">{% trans "Brend" %}</div>
                    {% for item in products %}
                    <div class="compare-col compare-value">{{ item.brand }}</div>
                    {% endfor %}
                </div>
                <!-- End of Compare Brand -->
            </div>
            {% else %}
            <div class="text-center">
                <h4 class="mt-5 mb-3">{% trans "Taqqoslash oynasi bo'sh" %}</h4>
                <a href="{% url 'products:list' %}" class="btn btn-primary">{% trans "Mahsulotlar" %}</a>
            </div>
            {% endif %}
        </div>
        <!-- End of Compare Table -->
    </div>
    <!-- End of Page Content -->
</main>
<!-- End of Main -->

{% endblock content %}
